.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;

  // desktop view links

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_logo {
      margin-right: 2rem;
      img {
        width: 62.56px;
        height: 16.02px;
      }
    }

    &_container {
      display: flex;
      flex-direction: row;
    }
  }

  // desktop view sign section

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // link items style

  &-links p,
  &-sign p,
  &-menu_container-links p {
    color: #fff;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }

  // tab & mobile view menu seciton

  &-menu {
    margin-left: 1rem;
    display: none;
    position: relative;

    // mobile view menu main container

    &_container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background: var(--color-footer);
      padding: 2rem;
      position: absolute;
      top: 40px;
      right: 0;
      margin-top: 1rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0 0 0 5 rgba(0, 0, 0, 0.2);

      // mobile view menu items

      p {
        margin: 1rem 0 !important;
      }

      &-links {
        &-sign {
          display: none;
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }

  &-sign button,
  &-menu_container button {
    padding: 0.5rem 1rem;
    background-color: #ff4820;
    color: #fff;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

// media queries

@media screen and (max-width: 1050px) {
  .gpt3__navbar {
    &-links {
      &_container {
        display: none;
      }
    }
    &-menu {
      display: flex;
    }
  }
}

@media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
    &-sign {
      display: none;
    }
    &-menu {
      &_container {
        top: 20px;
        &-links {
          &-sign {
            display: block;
          }
        }
      }
    }
  }
}
